
.chessboard {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px;
    padding: 5px;

    #flip {
        height: 50px;
        width: 150px;
        margin-bottom: 50px;
        background: #ffffff;
        border: solid 1px #000;
        border-radius: 10px;
        cursor: pointer;
    }

    table.grid {
        -webkit-border-vertical-spacing: 0px;
        -webkit-border-horizontal-spacing: 0px;


        tr {
            td {
                height: 80px;
                width: 80px;
            }

            .light-tile {
                background: #f0d9b5;
            }

            .dark-tile {
                background-color: #b58863;
            }
        }

    }

}

.highlight {
    border: solid 2px #f00;
}
