.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
    width: 76px;

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }
}